body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.hero {
    background-image: url(images/ktm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    background: rgb(0, 109, 128);
}

.hero-subtitle {
    background-color: rgb(42, 42, 145);
}

.hero-text,
.hero-subtitle {
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

main h2 {
    text-align: center;
    color: rgb(17, 17, 116);
}

main {
    background-color: rgb(231, 231, 231);
    padding-top: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    gap: 20px;
    margin: 20px;
}

.main-content {
    margin-top: 10px;
}

.main-content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 900px; /* flexible width */
    margin: 40px auto; /* center the card */
    padding: 20px;
    background-color: #a8dadc;
    border-bottom: 8px solid #457b9d;
    border-radius: 10px;
    color: #2b2839;
}

.card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* rounded corners */
}

.card-content {
    text-align: left; /* better alignment for side-by-side layout */
}


@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .main-content img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card-img {
        width: 250px;
        height: 250px;
        margin-bottom: 15px;
    }
}
